= form_tag create_ballot_path(:poll_id => @poll.id, :owner_key => @poll.owner_key) do
  
  %p
    Enter your email address and the addresses of other people whose opinion you are interested in, comma-separated.  Each voter you invite will receive a special link to a personal ballot.

  .fields
    = text_area_tag 'emails', nil, :size => "50x5"
    = hidden_field_tag 'poll_id', @poll.id

  %p
    Enter the description for this poll.
    
    .fields
      = text_area_tag 'description', nil, :size => "50x5"
      = hidden_field_tag 'poll_id', @poll.id

  .actions
    = submit_tag 'Send invites'

  .fields
    = check_box_tag 'group_invitation', '1', @poll.invitation_key
    = label_tag 'Enable Group Invitations'
  .fields
    = text_field_tag 'group_invitation_link', group_invitation_url(@poll), :disabled => @poll.invitation_key.to_s.empty?, :size => 72

