#poll-name
  %h1= @poll.name

#block-wrapper
  #choices{"data-allow-user-choices" => @poll.allow_user_choices.to_s}
    %h3 Choices
    %form{:action => "#"}
      %script{:type => "text/x-handlebars"}
        {{ view GreenEggs.ListChoicesView }}

  #ballot
    %h3 Ballot
    = semantic_form_for @ballot, :url => update_ballot_path do |form|
      = hidden_field_tag 'poll_id', @poll.id
      = hidden_field_tag 'ballot_key', @ballot.key
      %script{:type => "text/x-handlebars"}
        {{ view GreenEggs.ListSlotsView }}

#actions
  %p.hidden
    Vote for as many choices as you want, in order of preference
  %p.hidden
    Hit 'Enter' in the last choice to create a new choice
  %p.hidden
    Tip: you can sort your choices by dragging and dropping the rectangles

  = link_to "See poll results", poll_results_path(:poll_id => @poll.id, :ballot_key => @ballot.key), :class => "button", :id => "results"
  %script{:type => "text/x-handlebars"}
    {{ view GreenEggs.VoteButtonView }}
  -#(you can return to this page to change your vote for as long as this poll is open)


:javascript
  $(function() {
  GreenEggs.choicesController.loadAll(#{@choices.to_json});
  GreenEggs.slotsController.loadAll(#{@ballot.choices.to_json});
  GreenEggs.slotsController.pollId = "#{@poll.id}";
  GreenEggs.slotsController.ballotKey = "#{@ballot.key}";
  });
