%p#notice= notice

%p 
  %b
    Voting on:
    %b
      = @poll.name

= form_for @ballot, :url => update_ballot_path do |f|
  .fields
    %ol#choices
      %li
        = text_field_tag "choice_1"
    %a#add_choice{ :href => '#' }
      Add Choice

    = hidden_field_tag 'poll_id', @poll.id
    = hidden_field_tag 'ballot_id', @ballot.id
    %input#choices_array{:type => 'hidden' , :name => 'choices_attributes[]'} 
  %p
    Enter as many choices as you want, in order of preference.

  .actions
    = submit_tag 'Cast your vote'
    (you can return to this page to change your vote for as long as this poll is open)

