%p#notice= notice

%p 
  %b
    Voting on:
    %b
      = @poll.name

= semantic_form_for @ballot, :url => update_ballot_path do |form|
  .fields
    %ol#sortable
      = form.semantic_fields_for :choices do |choice|
        = choice.input :original
    = hidden_field_tag 'poll_id', @poll.id
    = hidden_field_tag 'ballot_id', @ballot.id
  %p
    Vote for as many choices as you want, in order of preference
  %p
    Hit 'Enter' in the last choice to create a new choice
  %p
    Tip: you can sort your choices by dragging and dropping the rectangles

  .actions
    = submit_tag 'Cast your vote'
    (you can return to this page to change your vote for as long as this poll is open)

%p
  = link_to "See poll results", poll_results_path(:id => @poll.id, :ballot_id => @ballot.id)
