%p#notice= notice

%p 
  %b
    Voting on:
    %b
      = @poll.name

= form_for @ballot, :url => update_ballot_path do |f|
  .fields
    %ol#choices
      %li
        = text_field_tag "choice_1"
   
    = hidden_field_tag 'poll_id', @poll.id
    = hidden_field_tag 'ballot_id', @ballot.id
   
  .actions
    = submit_tag 'Vote'

