= form_tag create_ballot_path(:poll_id => @poll.id, :owner_key => @poll.owner_key) do

  %p
    Enter your email address and the addresses of other people whose opinion you are interested in, comma-separated.  Each voter you invite will receive a special link to a personal ballot.

  .fields
    = text_area_tag 'emails', nil, :size => "50x5"
    = hidden_field_tag 'poll_id', @poll.id

  %p
    Enter the invitation message

    .fields
      = text_area_tag 'invitationMsg', nil, :size => "50x5"
      = hidden_field_tag 'poll_id', @poll.id

  .actions
    = submit_tag 'Send invites'

  .fields
    = check_box_tag 'group_invitation', '1', @poll.invitation_key
    = label_tag "group_invitation", "Group Invitation"
  %br
  .fields
    %table
      %tr
        %td
          = label_tag "group_invitation_link", "Group link"
        %td
          = text_field_tag 'group_invitation_link', group_invitation_url(@poll), :disabled => @poll.invitation_key.to_s.empty?, :size => 40, :class => "long-link"
        %td
          .copy-to-clipboard.long-link.hidden{:class => (@poll.invitation_key ? nil : "hidden"), :title => "Copy to clipboard"}
            %div
              = image_tag('clipboard.png')
        %td
          %span.copied.hidden Copied!

      %tr
        %td
          = label_tag "shortened_group_invitation_link", "Shortened group link"
        %td
          = text_field_tag 'shortened_group_invitation_link', shortened_group_invitation_url(@poll), :disabled => @poll.invitation_key.to_s.empty?, :size => 40, :class => "short-link"
        %td
          .copy-to-clipboard.short-link.hidden{:class => (@poll.invitation_key ? nil : "hidden"), :title => "Copy to clipboard"}
            %div
              = image_tag('clipboard.png')
        %td
          %span.copied.hidden Copied!
