%p#notice= notice

%h1 Pre-seed choices for "#{@poll.name}"

%p
  = semantic_form_for @poll, :url => poll_path(@poll, :owner_key => @poll.owner_key) do |form|
    .fields
      %ul#poll-choices
        = form.semantic_fields_for :choices do |choice|
          = choice.input :original, :label => false

      %ul.no-bullets
        = form.input :allow_user_choices, :label => "Allow users to create their own choices", :as => :boolean

    = submit_tag "Save"
