%p#notice= notice

%h1 Editing poll

%p
  %b Name:
  = @poll.name

= render 'form'

%p
  = link_to 'Invite voters', invite_voters_path(:id => @poll.id, :owner_key => @poll.owner_key)

%p
  %ul
    - @poll.ballots.each do |ballot|
      %li
        = link_to ballot.email, vote_on_ballot_path(:ballot_id => ballot.id, :poll_id => @poll.id)

