%p#notice= notice

%p
  %h2
    Results

%p
  %b Poll name:
  = @poll.name

%p
  #{@poll.ballots.cast.count} ballots cast, with #{@poll.ballots.outstanding.count} outstanding

%p
  - results = calculate_results(@poll)
  
  %table#standard-results
    %caption
      Preferential results
    %thead
      %tr
        %td
        %th{:scope => 'col'} Value
    %tbody
      - results.each do |r|
        %tr
          %th{:scope => 'row'} #{r[:original]} 
          %td #{"%.1f" % (r[:tally]*100)}

  = render :partial => "pie_chart", :locals => {:data => results.collect{|a| [a[:original], a[:tally]]}, :name => "standard"}

%p
  - results = calculate_results(@poll, true)
  
%p
  = link_to "Return to My Ballot", vote_on_ballot_path(:poll_id => @poll.id, :ballot_id => @ballot.id)

