- feature_active? :real_time do
  :javascript
    poll_uri = '#{FirehoseServer.uri}/polls/#{@poll.id}';

%p#notice= notice

%p
  %h2
    Results

%p
  %b Poll name:
  = @poll.name

%p= ballots_cast_message(@poll)

%div#irv-results

  %table.results
    %caption
      Instant-Runoff Results
    %thead
      %tr
        %td
        %th{:scope => 'col'} Value
    %tbody
      - results = @poll.calculate_irv
      - results[:winners].each_with_index do |r, index|
        %tr
          %td #{index + 1}
          %th{:scope => 'row'}= r[:original]

  #log
    = results[:log].gsub("\n", "<br \>").html_safe

%div#borda-results
  - results = @poll.calculate_borda

  %table.results#borda-results
    %caption
      Borda results
    %thead
      %tr
        %td
        %th{:scope => 'col'} Value
    %tbody
      - results.each do |r|
        %tr
          %th{:scope => 'row'} #{r[:original]}
          %td #{"%.1f" % (r[:tally]*100)}

  = render :partial => "pie_chart", :locals => {:data => results.collect{|a| [a[:original], a[:tally]]}, :name => "borda"}


%p
  = link_to "Return to My Ballot", vote_on_ballot_path(:poll_id => @poll.id, :ballot_key => @ballot.key)

