%p#notice= notice

%p
  %h2
    Results

%p
  %b Poll name:
  = @poll.name

%p
  #{@poll.ballots.cast.count} ballots cast, with #{@poll.ballots.outstanding.count} outstanding

%p

  %table#standard-results
    %caption
      Results
    %thead
      %tr
        %td
        %th{:scope => 'col'} Value
    %tbody
      - @poll.calculate_results.each_with_index do |r, index|
        %tr
          %td #{index + 1}
          %th{:scope => 'row'}= r[:original]

%p
  = link_to "Return to My Ballot", vote_on_ballot_path(:poll_id => @poll.id, :ballot_key => @ballot.key)

