= form_for @poll do |f|
  -if @poll.errors.any?
    #error_explanation
      %h2= "#{pluralize(@poll.errors.count, "error")} prohibited this poll from being saved:"
      %ul
        - @poll.errors.full_messages.each do |msg|
          %li= msg

  - unless params[:from_github_issues]
    .field
      = f.label 'Poll name'
      = f.text_field :name
  .field
    = f.label 'Your email address'
    = f.text_field :owner_email
  - if params[:from_github_issues]
    .field
      = label_tag 'Repository URL'
      = text_field_tag :repository_url, nil, :size => "30"
  - else
    %p
      Description for the poll:
    .fields
      = f.text_area :description, :size => "50x5"

  .actions
    = f.submit 'Save'
