!!!
%html{'ng-app' => 'GreenEggs'}
  %head
    %title GreenEggs
    %meta(content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0" name="viewport")/
    = filepicker_js_include_tag
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    -#%link{:href => "http://fonts.googleapis.com/css?family=Delius+Swash+Caps", :rel => "stylesheet", :type => "text/css"}
      = csrf_meta_tags
    = render "shared/preload_data"
  %body
    .navbar.navbar-inverse.navbar-fixed-top{'ng-controller' => 'HeaderCtrl'}
      .navbar-inner{'ng-show' => '!hideHeader'}
        .container
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
          %a.brand{:href => "/"}
            .logo
            .green-triangle
          .title.hidden-desktop
            Create New Poll
          .nav-collapse.collapse
            %ul.nav
              %li
                %a{:href => "#"} Home
              %li
                %a{:href => "#about"} About
              %li
                %a{:href => "#contact"} Contact
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Dropdown
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Action
                  %li
                    %a{:href => "#"} Another action
                  %li
                    %a{:href => "#"} Something else here
                  %li.divider
                  %li.nav-header Nav header
                  %li
                    %a{:href => "#"} Separated link
                  %li
                    %a{:href => "#"} One more separated link
            .login-section{'ng-hide' => 'currentUser'}
              %form.navbar-form.pull-right
                %input.span2{:placeholder => "Email", :type => "text"}/
                %input.span2{:placeholder => "Password", :type => "password"}/
                %button.btn{:type => "submit"} Sign in
            .login-section.pull-right{'ng-show' => 'currentUser'}
              %span {{currentUser.name}}
              %a{"data-method" => "delete", :href => "/users/sign_out"} Log out
          / /.nav-collapse
    .container.main
      %div{'ng-view' => 'ng-view'}
      / Main hero unit for a primary marketing message or call to action
      %hr.visible-desktop{}
      %footer.visible-desktop
        %p © Company 2013
