!!!
%html
  %head
    %title GreenEggs
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    -#%link{:href => "http://fonts.googleapis.com/css?family=Delius+Swash+Caps", :rel => "stylesheet", :type => "text/css"}
      = csrf_meta_tags
  %body{'ng-app' => 'greenEggs'}
    #content-wrapper
      #content
        #header
          #logo
            %h2 GreenEggs Polls
        #flash
          - if notice
            %p#notice= notice
          - if flash[:error]
            %p#error= flash[:error]
        %div{'ng-controller' => "GECtrl"}
          = yield
