<!DOCTYPE html>
<html>
<head>
  <title>GreenEggs</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Delius+Swash+Caps' rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
</head>
<body>
  <p id="notice"><%= notice %></p>
  <p id="error"><%= flash[:error] %></p>

  <%= yield %>

</body>
</html>
